<section id="slider">
    <div class="container">
        <div class="row home-slider mb-5">
            <div class="col-12 col-sm-8 p-0">
                <img class="img-fluid" src="../../assets/images/Slides.jpg">
            </div>
            <div class="col-12 col-sm-4">
                <div class="slider-content text-right p-5">
                    <div class="sc-icon">
                        <img width="50" src="../../assets/images/family.svg">
                    </div>
                    <div class="sc-content">
                        <div class="sc-subtitle mt-3 mb-3">التسجيل في الخدمة</div>
                        <div class="sc-title">تقدم بطلبك الأن..</div>
                        <div class="sc-text mt-4">البوابة الاشمل لجميع طلبات الاسكان في دولة الامارات العربية المتحدة</div>
                        <a href="/register" class="btn btn-primary mt-4 btn-block" style="color: #fff;">سجل الان</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="caption">
    <div class="p-5 mt-3 text-center">
        <p>تقدم بطلب مسكن من اي إماراة عبر البوابة الإلكترونية الموحدة إسكان</p>
    </div>
</section>

<section id="banner">
    <img class="img-fluid" src="../../assets/images/Testimonial.png">
</section>

<section id="info" class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <img height="60" src="../../assets/images/home.svg">
                <h4 class="info-title mt-4 mb-4">تعرف على خدمات الاسكان المتاحة</h4>
                <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex orci. Phasellus nisl eros, gravida ac sem a, rutrum volutpat nulla. Nunc efficitur lectus et nunc ornare, at tincidunt nulla imperdiet. Vivamus porta lacus neque, sed
                    elementum arcu mollis sit amet.</p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="60" src="../../assets/images/frames.svg">
                <h4 class="info-title mt-4 mb-4">قدم طلب الاسكان </h4>
                <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex orci. Phasellus nisl eros, gravida ac sem a, rutrum volutpat nulla. Nunc efficitur lectus et nunc ornare, at tincidunt nulla imperdiet. Vivamus porta lacus neque, sed
                    elementum arcu mollis sit amet.</p>
            </div>
            <div class="col-sm-4 text-center">
                <img height="60" src="../../assets/images/family.svg">
                <h4 class="info-title mt-4 mb-4">تحقق من حالة الطلبات</h4>
                <p class="info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex orci. Phasellus nisl eros, gravida ac sem a, rutrum volutpat nulla. Nunc efficitur lectus et nunc ornare, at tincidunt nulla imperdiet. Vivamus porta lacus neque, sed
                    elementum arcu mollis sit amet.</p>
            </div>
        </div>
    </div>
</section>