<!-- <h1>{{title}}</h1> -->
<!-- <nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="navbar-brand m-0"><img width="60" src="../assets/images/logo.svg"/><p><span>البوابة الوطنية للإسكان</span><br><small>دولة الامارات العربية المتحدة</small></p></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">البوابة الوطنيبة للاسكان</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">التسجيل في الخدمة</a>
      </li>
     
    </ul>
    <div>
      <a href="/" class="m-0">
      <img width="35" src="../assets/images/home-icon.svg">
    </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center p-5">
          <h4 class="contact-title mb-4">
              للتواصل والاستفسارات
          </h4>
          <p class="contact-text mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex orci. Phasellus nisl eros, gravida ac sem a, rutrum volutpat nulla. Nunc efficitur lectus et nunc ornare, at tincidunt nulla imperdiet. Vivamus porta lacus neque, sed elementum arcu mollis sit amet.</p>
          <h1 class="font-weight-bold">  80054332  <img width="20" src="../../assets/images/call.svg"></h1>
        </div>
      </div>
    </div>
  </section>
  
  <section id="clients">
    <h4 class="text-center mt-5">الجهات المرتبطة بالبوابة الوطنية</h4>
    <div class="container">
      <div class="row mt-5 mb-5 align-items-center justify-content-center">
        <div class="col-sm-3"><img class="img-fluid" src="../../assets/images/szhp.png"></div>
        <div class="col-sm-3"><img class="img-fluid" src="../../assets/images/aha.png"></div>
        <div class="col-sm-3"><img class="img-fluid" src="../../assets/images/moa.png"></div>
        <div class="col-sm-3"><img class="img-fluid" src="../../assets/images/mbrh.png"></div>
      </div>
    </div>
  </section>
  
  <footer class="pt-3 pb-3 text-center">
      2018 ©  
  </footer>