<div class="breadcrumb-divider pt-4 pb-4 text-center">
  <div class="container">
   <h1> التحقق من البيانات </h1>
   <p>عودة للبحث <img src="../../assets/images/back.svg"/></p>
</div>
</div>
<form>
<div class="container mt-5 mb-5">
<div class="row">
<div class="col-12 form-sections">
    <div class="form-section-title mb-4">البيانات الشخصية</div>
  <div class="row">
      <div class="col-sm-4">
          <div class="form-group">
            <label for="name" class="font-weight-bold">الاسم</label>
            <input type="text" class="form-control form-control-lg" id="name" placeholder="سالم">
          </div>
        </div>
      <div class="col-sm-4">
          <div class="form-group">
              <label for="fname" class="font-weight-bold">إسم الاب</label>
              <input type="text" class="form-control form-control-lg" id="fname" placeholder="احمد">
            </div>
      </div>
   
    <div class="col-sm-4">
        <div class="form-group ">
            <label for="fam-name" class="font-weight-bold">إسم العائلة</label>
            <input type="text" class="form-control form-control-lg" id="fam-name" placeholder="الشامسي">
          </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12 mt-4 mb-5">
        <div class="custom-control-inline ml-4 mr-0">
          <label class="font-weight-bold">الجنس</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            
            <input type="radio" id="male" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="male">ذكر</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            
            <input type="radio" id="female" name="gender" class="custom-control-input">
            <label class="custom-control-label" for="female">انثى</label>
          </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group ">
                <label for="social" class="font-weight-bold">الحالة الاجتماعي</label>
                <select class="form-control form-control-lg" id="social">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group ">
                <label for="job" class="font-weight-bold">المهنة</label>
                <select class="form-control form-control-lg" id="job">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
              </div>
        </div>
    </div>
</div>


<div class="col-12 form-sections mt-5">
    <div class="form-section-title mb-4">البيانات الجوازات</div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
              <label for="passport" class="font-weight-bold">رقم جواز السفر</label>
              <input type="text" class="form-control form-control-lg" id="passport" placeholder="S33324455DF">
            </div>
          </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="edbara" class="font-weight-bold">رقم الاضبارة</label>
                <input type="text" class="form-control form-control-lg" id="edbara" placeholder="455DF">
              </div>
        </div>
     
    </div>

    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="form-group">
              <label for="issuer" class="font-weight-bold">جهة الاصدار</label>
              <input type="text" class="form-control form-control-lg" id="passport" placeholder="S33324455DF">
            </div>
          </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="issue-date" class="font-weight-bold">تاريخ اصدار جواز السفر</label>
                <input type="date" class="form-control form-control-lg" id="edbara" placeholder="455DF">
              </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="expiry-date" class="font-weight-bold">تاريخ انتهاء جواز السفر</label>
                <input type="date" class="form-control form-control-lg" id="edbara" placeholder="455DF">
              </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="dob" class="font-weight-bold">تاريخ الميلاد</label>
                <input type="date" class="form-control form-control-lg" id="edbara" placeholder="455DF">
              </div>
        </div>
     
    </div>
</div>


<div class="col-12 form-sections mt-5">
    <div class="form-section-title mb-4">البيانات الهوية</div>
   
    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="form-group">
              <label for="id-name" class="font-weight-bold">الاسم على الهوية</label>
              <input type="text" class="form-control form-control-lg" id="id-name" placeholder="سالم احمد سالم الشامسي">
            </div>
          </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="id-number" class="font-weight-bold">رقم الهوية</label>
                <input type="text" class="form-control form-control-lg" id="id-number" placeholder="S33324455DF">
              </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="id-expiry" class="font-weight-bold">تاريخ الانتهاء</label>
                <input type="date" class="form-control form-control-lg" id="id-expiry" placeholder="455DF">
              </div>
        </div>     
    </div>
</div>



<div class="col-12 form-sections mt-5">
    <div class="form-section-title mb-4">بيانات السكن</div>
   
    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="form-group">
              <label for="places" class="font-weight-bold">مكان الإقامة</label>
              <select class="form-control form-control-lg" id="places">
                  <option>الامارة</option>
                  <option>الامارة</option>
                  <option>الامارة</option>
                </select>
            </div>
          </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="accomodation" class="font-weight-bold">نوع السكن</label>
                <select class="form-control form-control-lg" id="accomodation">
                    <option>شقة</option>
                    <option>شقة</option>
                  </select>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="work" class="font-weight-bold">مكان العمل</label>
                <select class="form-control form-control-lg" id="work">
                    <option>الامارة</option>
                  </select>
              </div>
        </div>     
    </div>
</div>



<div class="col-12 form-sections mt-5">
    <div class="form-section-title mb-4">البيانات التواصل</div>
   
    <div class="row mt-3">
        <div class="col-sm-3">
            <div class="form-group">
              <label for="id-name" class="font-weight-bold">رقم الهاتف المتحرك</label>
              <input type="tel" class="form-control form-control-lg" id="id-name" placeholder="971-50-7473303">
            </div>
          </div>
          <div class="col-sm-3">
              <div class="form-group">
                <label for="id-name" class="font-weight-bold">رقم الهاتف البديل</label>
                <input type="tel" class="form-control form-control-lg" id="id-name" placeholder="971-50-7473303">
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                  <label for="id-name" class="font-weight-bold">البريد الالكتروني</label>
                  <input type="email" class="form-control form-control-lg" id="id-name" placeholder="">
                </div>
              </div>  
    </div>
</div>
<div class="col-12 bb-1 mt-5"></div>
<div class="col-12 mt-5">
  <div class="form-buttons float-right">
    <img class="ml-2" width="30" src="../../assets/images/check-circle.svg">
    <button class="btn btn-primary ml-3">إعتماد البيانات</button>
    <button class="btn btn-dark">طلب تحديث</button>
  </div>
</div>
  <div class="col-12 mt-4">
    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu ex orci. Phasellus nisl eros, gravida ac sem a, rutrum volutpat nulla. Nunc efficitur lectus et nunc ornare, at tincidunt nulla imperdiet. Vivamus porta lacus neque, sed elementum arcu mollis sit amet.</p>
  </div>

</div>
</div>
</form>